{% extends "inner_base.html" %}

{% block title %}Dashboard - SmartHireAI{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="welcome-wrapper">
    <div class="welcome-content text-center">
        {# This will display the user's first name, or fall back to their username #}
        <h1 class="display-3">Welcome,{{ user.full_name|default:user.email }}!</h1>
        <p class="lead text-muted">Your hiring journey starts here.</p>
    </div>

    <ul class="bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock %}
